body {  
    background-image: url(https://cdn.pixabay.com/photo/2024/02/27/13/56/tank-400-8600203_1280.jpg);
    backdrop-filter:blur( 13.5px );
    font-family:Arial, Helvetica, sans-serif;

}

section {
    background-color: rgb(0, 0, 0);
    width: 1000px;
    height: 500px;
    margin-top: 100px;
    margin:  auto ;
    border-radius: 10px;
}


button {
    margin-left: 130px;
    align-items: center;
    border-radius: 100px;
    height: 30px;   
    width: 150px;
    align-items: center;
}



.box-flex{
    display: flex;
}

.box-out{
    background: rgb(148, 141, 141);
    width: 400px;
    height: 600px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos h1 {
    font-size: 50px;
    text-align: center;
}
.infos h3 {
    font-size: 30px;
    margin-left: 40px;
}

.infos a {
    text-align: center;
    color:rgb(0, 63, 117);
    padding: 20px;
}
  
.inputUser {
    height: 25px;
    width: 300px;
    border-radius: 4px;
}

.user-senha {
    margin-left: 40px;
}

.check {
    display: flex;
}
.check p {
    font-size: 15px;
}

.box-img {
    background-image: url(https://cdn.pixabay.com/photo/2021/12/08/15/53/traffic-6856075_1280.jpg);
    width: 600px;
    height: 600px;  
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}